:root {
  --gradient-primary: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
}

/* Фоны
.bg-gradient-dark {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
              url('../images/bg-pattern.png');
  background-size: cover;
}*/

.bg-dark2 {
  background-color: #111 !important;
}

.bg-primary-gradient {
  background: var(--gradient-primary) !important;
}

/* Карточки проектов */
.project-card {
  transition: transform 0.3s, box-shadow 0.3s;
  border: 1px solid #333 !important;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(13, 110, 253, 0.2) !important;
}

.project-img {
  height: 200px;
  overflow: hidden;
}

.project-img img {
  transition: transform 0.5s;
  height: 100%;
  object-fit: cover;
}

.project-card:hover .project-img img {
  transform: scale(1.1);
}